<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ArrayFire" version="0.0.2" targetFramework="net472" />
  <package id="Google.Protobuf" version="3.8.0" targetFramework="net472" />
  <package id="Microsoft.ML.TensorFlow.Redist" version="0.13.0" targetFramework="net472" />
  <package id="NumSharp" version="0.10.3" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.3" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
  <package id="TensorFlow.NET" version="0.8.3" targetFramework="net472" />
</packages>